functions-framework==3.5.0
google-api-python-client==2.115.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
pytz==2023.3.post1
google-cloud-firestore==2.14.0
Flask==3.0.1
requests>=2.32.2
urllib3>=2.2.2
werkzeug>=3.0.3
zipp>=3.19.1
